.patient-icon {
    border-radius:60px;
    height:120px;
    width:120px;
    text-align:center;
    margin-right:15px;
}

.patient-icon {
    span {
        line-height: 115px;
        font-size:48px;
        font-weight:bold;
    }
}
