
.button {
    display: inline;
    position: relative;
    color: #3f51b5;
    left: 50px;
}


.form-content {
    margin: 3%;
}


.button-add-patient {
  margin-left: 0;
}


.form-title {
    text-align: center;
    color: #3f51b5;
}


.form-wrapper {
    flex: 100;
    visibility: hidden;
}