@media (max-width: 456px) {
    md-sidenav {
        min-width: 0;
    }
}

.sidebar md-sidenav.md-closed {
    width: 65px;
    display: block;
    transform: none;
    -webkit-transform: none;
}

.sidebar a {
    text-decoration: none;
}

.sidebar md-icon[md-font-icon] {
    line-height: 30px;
}

md-sidenav {
    position: fixed;
    width: 235px;
    max-width: 235px;
    white-space: nowrap;
    overflow: hidden;
}

md-sidenav ul {
    padding: 0;
    margin: 0;
}

md-sidenav ul a {
    display: block;
    padding: 12px 20px;
    cursor: pointer;  
}

md-sidenav span {
    display: inline-block;
    padding: 0 15px;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
}

md-sidenav a:hover {
    background-color: #F5F5F5
}

md-sidenav a.active {
    background-color: #FFA726
}

md-sidenav a.active md-icon,
md-sidenav a.active span {
    color: #fff;
}

md-sidenav li:first-child md-icon {
    color: #FF8A65;
}

md-sidenav md-icon {
    color: #757575;
    height: 30px;
}

.material-icons {
    font-size: 30px;
}
