<md-menu md-position-mode="cascade bottom">
  <div>
    <md-button 
      ng-click="$mdMenu.open($event)" class="md-icon-button">
      <md-icon md-font-library="material-icons">
        create
      </md-icon>
    </md-button>
  </div>
  <md-menu-content width="8">
    <div>
      <md-menu-item>
        <form name="userForm" 
          ng-submit="$ctrl.onSubmit();">
            <md-input-container>
              <label>Date</label>
              <input ng-model="$ctrl.editedMeds.date">
            </md-input-container>
            <md-input-container>
              <label>Doctor</label>
              <input ng-model="$ctrl.editedMeds.doctor">
            </md-input-container>
            <md-input-container>
              <label>Drugs</label>
              <input ng-model="$ctrl.editedMeds.drugs">
            </md-input-container>
            <md-input-container>
              <label>Sig</label>
              <input ng-model="$ctrl.editedMeds.sig">
            </md-input-container>
            <md-button type="submit" 
              ng-click="$ctrl.announceClick()">
              Submit
            </md-button>  
            <md-button class="md-raised md-primary">
              Cancel
            </md-button>
        </form> 
      </md-menu-item>
    </div>
  </md-menu-content>
</md-menu>

